.card {
  &-top {
    padding-inline: 24px;
    padding-block: 24px 40px;
    border-radius: 8px;
    border: 1px solid #e5e5e6;
  }
  &--logo {
    width: 40px;
    height: 40px;
    border: 1px solid #cbcbcd;
    border-radius: 20px;
  }
  &-bottom {
    padding: 32px;
  }
  & > p {
    color: #381fd1;
    margin-block: 12px 8px;
  }
  & > h4 {
    margin-block: 0px 8px;
  }
}
