div {
  min-height: 6.25rem;
}

.middle {
  background-color: oklch(95% 0 0deg);
  padding-inline: 1.5rem;
}
.middle__wrapper {
  display: grid;
  grid-template-columns: 17.5rem auto;
  margin-inline: auto;
  max-width: 75rem;
  background-color: oklch(90% 0 0deg);
  -moz-column-gap: 4rem;
       column-gap: 4rem;
}

.sidebar {
  background-color: oklch(90% 0.05 0deg);
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 32px;
  background-color: oklch(90% 0.05 60deg);
}
.main > div {
  background-color: oklch(90% 0.05 120deg);
}

.header {
  grid-column: 1/-1;
  background-color: oklch(90% 0.5 250deg) !important;
}

.cards {
  display: grid;
  grid-template-columns: subgrid;
  grid-auto-rows: 1fr;
  gap: 32px;
  grid-column: 1/-1;
}
.cards > div {
  background-color: black;
}