@use 'sass:list';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$bgcolors: #e30512, #1d3fbb, #ffbe00, #ff651a, #00c1b5, #ffffff, #fd5f8d;

:root {
  --fixed-m-x: 15px;
  --fixed-m-y: 20px;
  --logo-h: 30px;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 25px;
}

img {
  display: block;
}

.fixed {
  //
  display: none;
  position: fixed;

  @at-root a#{&},
    & a {
    color: currentColor;
  }

  p {
    margin-block: 0;
  }

  &--pos {
    &-tl {
      //
      display: block;
      top: var(--fixed-m-x);
      left: var(--fixed-m-y);
    }
    &-tr {
      top: var(--fixed-m-x);
      right: var(--fixed-m-y);
    }
    &-br {
      bottom: var(--fixed-m-x);
      right: var(--fixed-m-y);
    }
    &-bl {
      bottom: var(--fixed-m-x);
      left: var(--fixed-m-y);
      right: calc(var(--fixed-m-x) + 64px + 100px);
    }
  }

  &--role {
    &-logo {
      height: var(--logo-h);
      aspect-ratio: 519 / 58;
    }
    &-contact {
      font-weight: 700;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    &-list {
      margin-block: 0;
      padding-left: 0;
      list-style: none;
      line-height: 28.8px;
      text-transform: capitalize;
      // display: flex;
      // flex-direction: column-reverse;
      transform: rotate(180deg);
      > li {
        transform: rotate(180deg);
        > a {
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    &-about {
      text-wrap: balance;
      max-width: 40ch;
      font-weight: 700;
    }
  }
  &__desc {
  }
  &__copyright {
    font-size: 12px;
    font-weight: 400px;
    > a {
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__policy {
    display: block;
    margin-top: 1lh;
    font-size: 12px;
    font-weight: 400px;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

#issue {
  @for $i from 1 through 7 {
    &-#{$i} {
      background-color: list.nth($bgcolors, $i);
    }
  }
}

.issue {
  display: grid;
  grid-template-rows: minmax(calc(2 * var(--fixed-m-y) + var(--logo-h)), 1fr) auto 5lh minmax(
      calc(2 * var(--fixed-m-y)),
      0.5fr
    );
  grid-template-columns: minmax(var(--fixed-m-x), 1fr) minmax(0, 420px) minmax(
      var(--fixed-m-x),
      1fr
    );
  min-height: 100svh;
  p {
    margin-block: 0;
  }

  &__img {
    grid-column: 2;
    grid-row: 2;
    justify-self: stretch;
  }
  &__text {
    grid-column: 2;
    grid-row: 3;
  }
}
